.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

:root {
  --main-color: #ffdb70;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-item svg {
  color: var(--main-color);
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
  box-sizing: border-box;
}

.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, span) {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.contact-info span {
  font-style: normal;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 18px;
}

.social-item .social-link:hover {
  color: var(--light-gray);
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 10px 0;
}

@media (min-width: 580px) {
  .separator {
    margin: 32px 0;
  }

  .contacts-list {
    gap: 20px;
    margin-top: 40px;
  }

  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }
}

@media (min-width: 768px) {
  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }
}

@media (min-width: 1250px) {
  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }

  .contact-info :is(.contact-link) {
    max-width: 190px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .contact-info :is(.contact-link, span) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }

  .social-list {
    justify-content: center;
  }
}
